<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CSV</title>
</head>
<body>
    <h1 class="text-center">Hello World!</h1>
    <form class="m-5" enctype="multipart/form-data" class="text-center" method="POST" action="/upload_file">
        <div class="custom-file">
          <input name="myFile" id="fileInput" type="file" accept=".csv" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div> <br>
        <input type="submit" value="Read This file" class="btn btn-success m-3">
    </form>
    <% if (files != null) { %> 
      <ul>
        <% for( let index = 0; index < files.length; index++ ) { %>
          <a href="/<%- files[index].file_name %>">
            <li><%- files[index].file_name %> </li>
          </a>
        <% } %>
      </ul>
    <% } %> 
    <% if (data != null && data.length > 0) { %>
      <form class="m-5" method="POST" action="/search/<% file_name %>">
        <input name="searchTerm" type="text" id="search_box" placeholder="search <%- keys[1] %>">
        <input id="filterBtn" type="submit" text="Search" class="btn btn-primary" class="ml-1">
      </form>
      <table class="table table-dark">
        <thead>
          <tr>
            <% keys.forEach((element, index) => { %>
              <th> 
                <a href="/sort/<%- index %> ">
                  <%- element.toUpperCase()  %> <i class="fa fa-sort"></i>
                </a>
              </th>
            <% }) %>
          </tr>
        </thead>
        <tbody>
            <% data.forEach(element => { %>
              <tr>
              <% keys.forEach(key => { %>
                <td> 
                  <%- element[key]  %> 
                </td>
              <% }) %>
            </tr>
            <% }) %>
          
        </tbody>
      </table>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/utilities.js"></script>
</body>
</html>